@using BookStore.Models.Objects;
@using System.Net
@using BookStore.Models.Objects;
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Http.Extensions;
@using Microsoft.AspNetCore.WebUtilities
@using BookStore.Helper;
@{
    Layout = "ListBook_Layout";
    List<Category> CategoryList = (List<Category>)ViewBag.ListCategory;
    List<FamousPublisher> PublisherList = (List<FamousPublisher>)ViewBag.ListPubliser;
}
@model List<Book>

<nav class="navbar navbar-shadow justify-content-between">
    <div class="container">
        <a href="/" class="navbar-sm-brand">
            <img src="/images/logo.webp" alt="">
        </a>
        <div class="input__search-bar">
            <input type="text" id="txtSearch" placeholder="Search" autocomplete="off">
            <i class="fas fa-search"></i>
        </div>
        <div class="nav__social-icon d-flex justify-content-center">

            <a href="/Cart"><i class="fas fa-shopping-cart"></i></a>

            @if (@ViewBag.FullName is null)
            {
                <a href="/AnonymousOrder"><i class="fas fa-clipboard"></i></a>
                <a href="/Login"><i class="fas fa-sign-in-alt"></i></a>
            }
            else
            {
                <div class="dropdown">
                    <a href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="far fa-user"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#" id="linkProfile">Profile</a>
                        <a class="dropdown-item" href="/Logout">Logout</a>
                    </div>
                </div>
            }

        </div>
    </div>


</nav>

<nav class="navbar navbar-pad-sm navbar-expand-lg bg-light" style="z-index: 15">
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2"
            aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarSupportedContent2">

        <!-- Links -->
        <ul class="navbar-nav">

            <!-- Categories -->
            <li class="nav-item dropdown mega-dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink3" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Categories
                    <i class="fa fa-angle-down hidden-xs"></i>
                </a>
                <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdownMenuLink3">
                    <div class="row">
                        @for (int i = 0; i < 4; i++)
                        {
                            <div class="col-md-3">
                                <h3 class="lb_category">@CategoryList[i].Name</h3>
                                <ul class="list-unstyled">
                                    @for (int j = 0; j < 4; j++)
                                    {
                                        <li><a href="/ListBook/Subcategory/@CategoryList[i].SubCategory[j].Name" 
                                               class="pad-0-0">@CategoryList[i].SubCategory[j].Name</a></li>
                                    }
                                </ul>
                            </div>
                        }
                    </div>

                    <div class="row">
                        @for (int i = 4; i < 8; i++)
                        {
                            <div class="col-md-3">
                                <h3 class="lb_category">@CategoryList[i].Name</h3>
                                <ul class="list-unstyled">
                                    @for (int j = 0; j < 4; j++)
                                    {
                                        <li><a href="/ListBook/Subcategory/@CategoryList[i].SubCategory[j].Name" 
                                               class="pad-0-0">@CategoryList[i].SubCategory[j].Name</a></li>
                                    }
                                </ul>
                            </div>
                        }
                    </div>
                </div>
            </li>

            <!-- Dictionaries -->
            <li class="nav-item mega-dropdown"><a href="/ListBook/Dictionaries & Languages" class="nav-link dropdown-toggle">Dictionaries</a></li>

            <!-- Audio book -->
            <li class="nav-item mega-dropdown"><a href="#" class="nav-link dropdown-toggle">Audio books</a></li>

            <!-- Recommended -->
            <li class="nav-item mega-dropdown"><a href="#" class="nav-link dropdown-toggle">Recommended</a></li>

            <!-- Sale -->
            <li class="nav-item mega-dropdown">
                <a href="#" class="nav-link dropdown-toggle">Sale</a>

            </li>
            <!--Pages-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink4" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Pages
                    <i class="fa fa-angle-down hidden-xs"></i>
                </a>
                <div class="dropdown-menu mega-menu v-2 z-depth-1 py-5 px-3"
                     aria-labelledby="navbarDropdownMenuLink4">
                    <div class="row">
                        <ul class="list-unstyled">
                            <li><a href="#">Reference</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Terms of use</a></li>
                            <li><a href="#">Policy</a></li>
                            <li><a href="#">About us</a></li>
                        </ul>
                    </div>
                </div>
            </li>

        </ul>
        <!-- Links -->

    </div>
    <!-- Collapsible content -->

</nav>

<div class="modal fade" id="modalQuickview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close__badge" data-dismiss="modal" aria-label="Close">
                <span class="close__icon"></span>
            </button>
            <div class="row">
                <div class="col-5 mar-right-sm d-flex align-items-center">
                    <!--Carousel-slide-->
                    <div class="container-fluid">
                        <!--Carousel Wrapper-->
                        <div class="badge badge__sale">SALE</div>
                        <div id="carousel-example-1z" class="carousel slide carousel-slide pointer-event "
                             data-ride="carousel" data-interval="3000">

                            <!--Slides-->
                            <div class="carousel-inner" role="listbox">
                                <div class="card">
                                <img src="https://cdn0.fahasa.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/7/1/71unk1d12zl.jpg" 
                                     class="card-img-top img-cover" alt="...">
                                </div>
                            </div>
                            <!--/.Slides-->
                            <!--Indicators-->
                            @*<ol class="carousel-indicators carousel-indicators-dark">
                                <li data-target="#carousel-example-1z" data-slide-to="0" class="active"
                                    style="background-image: url('~/images/data/book11.webp')">
                                </li>
                                <li data-target="#carousel-example-1z" data-slide-to="1"
                                    style="background-image: url('~/images/data/book12.webp')"></li>
                                <li data-target="#carousel-example-1z" data-slide-to="2"
                                    style="background-image: url('~/images/data/book13.webp')"></li>
                                <li data-target="#carousel-example-1z" data-slide-to="3"
                                    style="background-image: url('~/images/data/book14.webpp')"></li>
                            </ol>*@
                            <!--/.Indicators-->
                        </div>
                        <!--/.Carousel Wrapper-->
                    </div>
                    <!--/Carousel-slide-->
                </div>
                <div class="col-6 text-left pad-top-bot-md">
                    <a href="#" class="f-3 f-w-100">The Example Product</a>

                    <p class="f-2 product__price f-w-100">$400.00</p>
                    <div class="special-author text-dark">Author: Jessica therrien</div>

                    <div class="mar-top-3">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="quantity buttons_added d-flex flex-row mar-top-2">
                                    <input type="button" value="-" class="minus quantity__button">
                                    <input type="text" step="1" min="1" max="" name="quantity" value="1" title="Qty"
                                           class="input-text qty text h-100" size="4" pattern="" inputmode="">
                                    <input type="button" value="+" class="plus quantity__button">
                                </div>
                            </div>
                            <div class="col-md-5">
                                <a href="#" class="btn btn-fw btn--rounded btn--blue">
                                    Buy
                                    it now
                                </a>
                            </div>
                        </div>


                    </div>

                    <div class="dropdown-divider"></div>
                    <a href="#" class="articles__link f-w-100">View Product →</a>

                </div>
            </div>
        </div>
    </div>
</div>

<section class="section__product-list">
    <div class="container">
        <div class="row">
            <div class="col-md-3 hidden-md-elements">
                <div class="sidebar-block sidebar-category">
                    <h2>Categories</h2>
                    <ul class="list-unstyled sidebar-list">
                        @foreach (var cate in CategoryList)
                        {
                            <li><a href="/ListBook/@cate.Name" class="pad-0-0">@cate.Name</a></li>
                        }
                    </ul>
                </div>
                <div class="sidebar-block">
                    <h2>Price Range</h2>
                    <div class="d-flex align-items-center">
                        <h4>Range:</h4>
                        <input type="text" class="js-input-from input-min-price" value="20000" />
                        <h3>-</h3>
                        <input type="text" class="js-input-to input-max-price" value="500000" />
                    </div>

                    <div class="wrapper">
                        <div class="range-slider">
                            <input type="text" class="js-range-slider" value="20000" />
                        </div>
                    </div>
                </div>

                <div class="sidebar-block">
                    <h2>Publisher</h2>
                    <ul class="list-unstyled sidebar-list">

                        @for (int i = 0; i < PublisherList.Count; i++)
                        {
                            var indexStr = "check" + (i + 1).ToString();
                            <li>
                                <input type="checkbox" id="@indexStr" class="check__box">
                                <label for="@indexStr" class="checkmark"></label>
                                <label for="@indexStr">@PublisherList[i].Name</label>
                            </li>
                        }

                    </ul>
                </div>

                <div class="sidebar-block">
                    <h2>Sponsor</h2>
                    <img src="/images/data/book1.webp" class="img-cover" alt="">
                </div>
            </div>
            <div class="col-md">
                <div class="title-wrapper">
                    <h1 style="display: inline-block">Books</h1>
                </div>

                <div class="row" id="listBook">
                    @foreach (var book in Model)
                    {
                        <div class="col-sm-3 col-6">
                            <div class="card display-on-hover">
                                <a href="/Book/@book.Id">
                                    <img class="card-img-top" src="@book.Image" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card__book-title">
                                            @book.Name
                                        </h5>
                                        <p class="card__book-price">
                                            @book.CurrentPrice.ToString("##,###") VND
                                        </p>
                                        <div id="rating" class="rating__section mar-0-0 w-100 align-items-center">
                                            <div class="star__rating" id="rating" data-value-star="4">
                                                <input type="radio" name="rating" value="5">
                                                <label class="full" title="Awesome - 5 stars"></label>

                                                <input type="radio" name="rating" value="4">
                                                <label class="full" title="Pretty good - 4 stars"></label>

                                                <input type="radio" name="rating" value="3">
                                                <label class="full" title="Meh - 3 stars"></label>

                                                <input type="radio" name="rating" value="2">
                                                <label class="full" title="Kinda bad - 2 stars"></label>

                                                <input type="radio" name="rating" value="1">
                                                <label class="full" title="Sucks big time - 1 star"></label>
                                            </div>

                                        </div>
                                        <a href="@book.Id" class="btn btn--rounded btn-fw btn--blue item-display">
                                            Add to cart
                                        </a>
                                    </div>
                                    <div class="badge badge__utilities item-display">
                                        <a href="#" class="badge__utilities-blue">
                                            <i class="fas fa-heart"></i>
                                        </a>
                                        <a href="#" class="badge__utilities-blue" data-toggle="modal"
                                           data-target="#modalQuickview" data-object="@book.Id">
                                            <i class="fas fa-search"></i>
                                        </a>

                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                </div>
                <button class="btn btn--lg btn--rounded btn--blue wow fadeIn waves-effect waves-light animated"
                        style="font-size: 18px; margin-left: 50%; transform: translateX(-50%)"
                        id="btnViewMore">
                    View more
                </button>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="subcribe-form" style="background-image: url(/images/mailing_bg.webp)" ;>
        <div class="blur-layer-text">
            <h2>Subcribe to our new letters</h2>
            <div class="d-flex justify-content-center align-items-center">
                <input type="text" class="input__subcribe" placeholder="Enter your e-mail address">
                <a href="#" class="btn btn--rounded btn-fit btn--blue">Subcribe</a>
            </div>

        </div>
    </div>
    <div class="container mar-top-lg">
        <div class="row">
            <div class="col-md-3">
                <img src="images/footer_logo.webp" alt="">
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem architecto commodi corporis, quae
                    repudiandae nisi dolorum explicabo illum consequuntur magnam hic nemo quisquam optio voluptas
                    ipsam, aperiam veritatis nulla alias?
                </p>
            </div>
            <div class="col-md-3">
                <h4>
                    <span class="icon" style="background-image:url('images/footer_icon_2.webp')"></span>
                    Our main office
                </h4>
                <p>San Francisco, California, US P.O. BOX: 553204 Phone: (+1) 998 3384 Mail: admin@bookshop.com</p>
            </div>
            <div class="col-md-3">
                <h4>
                    <span class="icon" style="background-image:url('images/footer_icon_3.webp')"></span>
                    keep in touch with us
                </h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem architecto commodi corporis, quae
                    repudiandae nisi dolorum explicabo illum consequuntur magnam hic nemo quisquam optio voluptas
                    ipsam, aperiam veritatis nulla alias?
                </p>
            </div>
            <div class="col-md-3">
                <h4>
                    <span class="icon" style="background-image:url('images/footer_icon_3.webp')"></span>
                    information
                </h4>
                <ul class="footer__infor">
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Term & Condition</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">My account</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>

            </div>
        </div>

    </div>
</footer>


<script src="js/wow.min.js"></script>
<script>
    new WOW().init();
</script>
<script src="/js/jquery-3.3.1.slim.min.js"></script>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/popper.js"></script>
<script src="/mdbootstrap/js/mdb.min.js"></script>
<script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script>
<script src="/js/all.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.zoom.min.js"></script>
<script src="/js/main.js"></script>
@*<script src="/js/counting.js"></script>*@
<script src="/js/sweetalert2.js"></script>
<script src="/js/sweetalert.js"></script>

<script>
    
    $("button#btnViewMore").click(function(e) {
        var skipNumber = parseInt($("div.card").length);
        var category = "@Model[0].BookCategory[0].Cate.Cate.Name";
        $.ajax({
            type: "POST",
            url: "/GetMoreBook/",
            data: {
                category: category,
                skipNumber: skipNumber
            },
            success: function (data) {
                console.log(data);
                for (var i = 0; i < data.obj.length; i++) {
                    $("div#listBook").append(
                        '<div class="col-sm-3 col-6">' +
                        '<div class="card display-on-hover">' +
                        '<a href="/Book/' + data.obj[i].id + '">' +
                        '<img class="card-img-top" src="' + data.obj[i].image + '" alt="Card image cap">' +
                        '<div class="card-body">' +
                        '<h5 class="card__book-title">' + data.obj[i].name + '</h5>' +
                        '<p class="card__book-price">' + (parseInt(data.obj[i].currentPrice) / 1000).toFixed(3) + " VND" +
                        '</p>' +
                        '<div id="rating" class="rating__section mar-0-0 w-100 align-items-center">' +
                        '<div class="star__rating" id="rating" data-value-star="4">' +
                        '<input type="radio" name="rating" value="5">' +
                        '<label class="full" title="Awesome - 5 stars"></label>' +
                        '<input type="radio" name="rating" value="4">' +
                        '<label class="full" title="Pretty good - 4 stars"></label>' +
                        '<input type="radio" name="rating" value="3">' +
                        '<label class="full" title="Meh - 3 stars"></label>' +
                        '<input type="radio" name="rating" value="2">' +
                        '<label class="full" title="Kinda bad - 2 stars"></label>' +
                        '<input type="radio" name="rating" value="1">' +
                        '<label class="full" title="Sucks big time - 1 star"></label>' +
                        '</div>' +
                        '</div>' +
                        '<a href="#" class="btn btn--rounded btn-fw btn--blue item-display">Add to cart</a>' +
                        '</div>' +
                        '<div class="badge badge__utilities item-display">' +
                        '<a href="#" class="badge__utilities-blue"><i class="fas fa-heart"></i></a>' +
                        '<a href="#" class="badge__utilities-blue" data-toggle="modal"data-target="#modalQuickview">' +
                        '<i class="fas fa-search"></i>' +
                        '</a>' +
                        '</div>' +
                        '</a>' +
                        '</div>' +
                        '</div>'
                    );
                }
            },
            error: function (err) {
                alert("Error");
                console.log(err);
            }
        });
    });

    $("h3.lb_category").click(function (e) {
        window.location.href = "/ListBook/" + $(this).text();
    });

    $("div.card div.badge a.badge__utilities-blue").click(function (e) {
        $.post("/Book",
            { id: $(this).attr("data-object") },
            function (data) {
                if (data.status === true) {
                    $("a.articles__link").attr("href", "/Book/" + data.obj.id);
                    $("p.product__price").text((parseInt(data.obj.currentPrice) / 1000).toFixed(3) + " VND");

                    var authors = "";
                    for (var i = 0; i < data.obj.authorBook.length; i++) {
                        authors += data.obj.authorBook[i].author.name;
                        authors += ", ";
                    }
                    authors = authors.substring(0, authors.length - 2);
                    $("div.special-author").text("Authors: " + authors);

                    $("a.f-3").text(data.obj.name);
                    $("a.f-3").attr("href", "/Book/" + data.obj.id);

                    $("input.qty").val("1");

                    $("div.modal div.carousel-inner div.card img").attr("src", data.obj.image);
                }
                else {
                    console.log(data);
                }
            });
    });

    $("a.btn--rounded").click(function (e) {
        e.preventDefault();
        $.post("/AddToCart",
            {
                id: $(this).attr("href"),
                quantity: 1
            },
            function (data) {
                if (data.status === true) {
                    Swal.fire({
                        title: 'Complete',
                        text: "Add book to cart successfully",
                        icon: 'success'
                    });
                } else {
                    popupFail("Fail", data.message);
                }
            });
    });

    $("#txtSearch").keypress(function (e) {
        if (e.which === 13) {
            window.location.href = "/Search/value=" + $(this).val();
        }
    });

</script>