@using BookStore.Models.Objects
@{
    Layout = "Login_Layout";
}
@model User

<nav class="navbar navbar-shadow justify-content-between">
    <div class="container">
        <a href="/" class="navbar-sm-brand">
            <img src="images/logo.webp" alt="">
        </a>
    </div>
   
    @*<div class="input__search-bar">
            <input type="text" placeholder="Search">
            <i class="fas fa-search"></i>
        </div>
        <div class="nav__social-icon d-flex justify-content-center">

            <a href="/Cart"><i class="fas fa-shopping-cart"></i></a>

            @if (@ViewBag.FullName is null)
            {
                <a href="/Login"><i class="fas fa-sign-in-alt"></i></a>
            }
            else
            {
                <div class="dropdown">
                    <a href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="far fa-user"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#" id="linkProfile">Profile</a>
                        <a class="dropdown-item" href="/Logout">Logout</a>
                    </div>
                </div>
            }

        </div>*@

</nav>

@*<div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2 style="text-align: center">Login</h2>
                @Html.AntiForgeryToken()
                <form asp-action="Login" asp-controller="Login" method="post" id="loginForm">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Account.Username" class="control-label">Username or Email</label>
                        <input asp-for="Account.Username" class="form-control" />
                        <span asp-validation-for="Account.Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Account.Password" class="control-label"></label>
                        <input asp-for="Account.Password" class="form-control" />
                        <span asp-validation-for="Account.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Login" class="btn btn-info" />
                    </div>
                </form>
            </div>

            <div class="col-sm-6">
                @Html.AntiForgeryToken()
                <h2 style="text-align: center">Sign up</h2>
                <form asp-controller="Login" asp-action="Signup" id="signupForm" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Account.Username" class="control-label"></label>
                        <input asp-for="Account.Username" class="form-control" />
                        <span asp-validation-for="Account.Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Account.Password" class="control-label"></label>
                        <input asp-for="Account.Password" class="form-control" />
                        <span asp-validation-for="Account.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Account.Email" class="control-label"></label>
                        <input asp-for="Account.Email" class="form-control" />
                        <span asp-validation-for="Account.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FullName" class="control-label"></label>
                        <input asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Gender" type="radio" value="Male" /> Male
                        <input asp-for="Gender" type="radio" value="Female" /> Female
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Birthday" class="control-label"></label>
                        <input asp-for="Birthday" type="date" class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                        <span asp-validation-for="Birthday" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Signup" class="btn btn-info" />
                    </div>
                </form>
            </div>
        </div>
    </div>*@

<section class="section__login">
    <div class="containter-fluid">
        <div class="row">
            <div class="col-md-6">
                @Html.AntiForgeryToken()
                <h1>Login</h1>
                <form asp-action="Login" asp-controller="Login" method="post" id="loginForm">
                    <div class="field-control">
                        <label asp-for="Account.Username">Username or Email</label>
                        <input asp-for="Account.Username" required class="col-md-8">
                        <span asp-validation-for="Account.Username" class="text-danger"></span>
                    </div>

                    <div class="field-control">
                        <label asp-for="Account.Password">Password</label>
                        <input type="password" required asp-for="Account.Password" class="col-md-8">
                        <span asp-validation-for="Account.Password" class="text-danger"></span>
                    </div>

                    <div class="col-md-8 pad-0-0 mar-top-md">
                        <input type="submit" value="Login" class="btn btn-fit btn--blue" onclick="popupFail()" />
                        @*<a href="#" class="btn btn-fit btn--blue">Login</a>*@
                        <a href="#" class="reset_password">Lost your password ?</a>
                    </div>
                </form>
            </div>

            <div class="col-md-6">
                <form asp-action="Signup" asp-controller="Login" method="post" id="signupForm">
                    @Html.AntiForgeryToken()
                    <h1>Register</h1>
                    <div class="field-control">
                        <label asp-for="Account.Username">Username</label>
                        <input asp-for="Account.Username" class="col-md-8" />
                        <span asp-validation-for="Account.Username" class="text-danger"></span>
                    </div>

                    <div class="field-control">
                        <label asp-for="Account.Password">Password</label>
                        <input asp-for="Account.Password" class="col-md-8" />
                        <span asp-validation-for="Account.Password" class="text-danger"></span>
                    </div>

                    <div class="field-control">
                        <label asp-for="Account.Email">Email</label>
                        <input asp-for="Account.Email" class="col-md-8" />
                        <span asp-validation-for="Account.Email" class="text-danger"></span>
                    </div>

                    <div class="field-control">
                        <label asp-for="FullName">Full Name</label>
                        <input asp-for="FullName" class="col-md-8" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="field-control">
                        <label>Gender</label>
                        <div class="row">
                            @*<div class="col-md-6">
                    <label for="Male" class="gender__selector">Male</label>
                    <input asp-for="Gender" id="Male" class="input__gender" type="radio" value="Male" />
                </div>
                <div class="col-md-6">
                    <label for="Female" class="gender__selector">Female</label>
                    <input asp-for="Gender" id="Female" class="input__gender" type="radio" value="Female" />
                </div>*@
                            <ul>
                                <li>
                                    <label for="Male">Male</label>
                                    <input asp-for="Gender" id="Male" type="radio" value="Male" />

                                    <div class="check"></div>
                                </li>

                                <li>
                                    <label for="Female">Female</label>
                                    <input asp-for="Gender" id="Female" type="radio" value="Female" />
                                    <div class="check">
                                        <div class="inside"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                    <div class="field-control">
                        <label asp-for="Birthday">Birthday</label>
                        <input asp-for="Birthday" type="date" value="@DateTime.Today.ToString("yyyy-MM-dd")" class="col-md-8" />
                        <span asp-validation-for="Birthday" class="text-danger"></span>
                    </div>
                    <div class="field-control">
                        <label asp-for="PhoneNumber">Phone Number</label>
                        <input asp-for="PhoneNumber" class="col-md-8" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="field-control">
                        <label asp-for="Address">Address</label>
                        <input asp-for="Address" class="col-md-8" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>

                    <div class="col-md-8 pad-0-0 mar-top-md">
                        @*<a href="#" class="btn btn-fit btn--blue">Register</a>*@
                        <input type="submit" value="Signup" class="btn btn-fit btn--blue" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>