@using BookStore.Models.Objects;
@using System.Net
@using BookStore.Models.Objects;
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Http.Extensions;
@using Microsoft.AspNetCore.WebUtilities
@using BookStore.Helper;
@{
    Layout = "Dashboard_Layout";
    List<Book> ListSalesBook = (List<Book>)ViewBag.ListSalesBook;
    List<FamousPublisher> FamousPublisherList = (List<FamousPublisher>)ViewBag.ListFamousPublisher;
    List<Category> CategoryList = (List<Category>) ViewBag.ListCategory;
}
@model List<Category>

<nav class="navbar navbar-shadow justify-content-between">
    <div class="container">
        <a href="/" class="navbar-sm-brand">
            <img src="images/logo.webp" alt="">
        </a>
        <div class="input__search-bar">
            <input type="text" id="txtSearch" placeholder="Search" autocomplete="off">
            <i class="fas fa-search" id="lbSearch"></i>
        </div>
        <div class="nav__social-icon d-flex justify-content-center">
            @*<a href="#" data-toggle="tooltip" data-placement="bottom" title="Wish list">
            <i class="far fa-heart"></i>
        </a>*@
            @*<div class="dropdown">
            <a href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-shopping-cart"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>


        <a href="/Login">
            <i class="far fa-user"></i>
        </a>*@

            <a href="/Cart"><i class="fas fa-shopping-cart"></i></a>

            @if (@ViewBag.FullName is null)
            {
                <a href="/AnonymousOrder"><i class="fas fa-clipboard"></i></a>
                <a href="/Login"><i class="fas fa-sign-in-alt"></i></a>
            }
            else
            {
                <div class="dropdown">
                    <a href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="far fa-user"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/Profile" id="linkProfile">Profile</a>
                        <a class="dropdown-item" href="/Orders" id="linkOrders">Orders</a>
                        <a class="dropdown-item" href="/Logout">Logout</a>
                    </div>
                </div>
            }

        </div>
    </div>


</nav>

<nav class="navbar navbar-pad-sm navbar-expand-lg bg-light" style="z-index: 15">
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2"
            aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarSupportedContent2">

        <!-- Links -->
        <ul class="navbar-nav">

            <!-- Categories -->
            <li class="nav-item dropdown mega-dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink3" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Categories
                    <i class="fa fa-angle-down hidden-xs"></i>
                </a>
                <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdownMenuLink3">
                    <div class="row">
                        @for (int i = 0; i < 4; i++)
                        {
                            <div class="col-md-3">
                                <h3 class="lb_category">@CategoryList[i].Name</h3>
                                <ul class="list-unstyled">
                                    @for (int j = 0; j < 4; j++)
                                    {
                                        <li><a href="/ListBook/Subcategory/@CategoryList[i].SubCategory[j].Name" 
                                               class="pad-0-0">@CategoryList[i].SubCategory[j].Name</a></li>
                                    }
                                </ul>
                            </div>
                        }
                    </div>

                    <div class="row">
                        @for (int i = 4; i < 8; i++)
                        {
                            <div class="col-md-3">
                                <h3>@CategoryList[i].Name</h3>
                                <ul class="list-unstyled">
                                    @for (int j = 0; j < 4; j++)
                                    {
                                    <li>
                                        <a href="/ListBook/Subcategory/@CategoryList[i].SubCategory[j].Name"
                                           class="pad-0-0">@CategoryList[i].SubCategory[j].Name</a>
                                    </li>
                                    }
                                </ul>
                            </div>
                        }
                    </div>
                </div>
            </li>

            <!-- Dictionaries -->
            <li class="nav-item mega-dropdown"><a href="#" class="nav-link dropdown-toggle">Dictionaries</a></li>

            <!-- Audio book -->
            <li class="nav-item mega-dropdown"><a href="#" class="nav-link dropdown-toggle">Audio books</a></li>

            <!-- Recommended -->
            <li class="nav-item mega-dropdown"><a href="#" class="nav-link dropdown-toggle">Recommended</a></li>

            <!-- Sale -->
            <li class="nav-item mega-dropdown">
                <a href="#" class="nav-link dropdown-toggle">Sale</a>

            </li>
            <!--Pages-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink4" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Pages
                    <i class="fa fa-angle-down hidden-xs"></i>
                </a>
                <div class="dropdown-menu mega-menu v-2 z-depth-1 py-5 px-3"
                     aria-labelledby="navbarDropdownMenuLink4">
                    <div class="row">
                        <ul class="list-unstyled">
                            <li><a href="#">Reference</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Terms of use</a></li>
                            <li><a href="#">Policy</a></li>
                            <li><a href="#">About us</a></li>
                        </ul>
                    </div>
                </div>
            </li>

        </ul>
        <!-- Links -->

    </div>
    <!-- Collapsible content -->

</nav>

<header class="header">
    <div id="carouselExampleControls" class="carousel slide display-on-hover" data-ride="carousel" data-interval="0">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="promo-text promo-text--right">
                    <h3 class="wow slideInLeft">Back to school</h3>
                    <div class="promo-text-sub wow slideInRight" data-wow-delay=".5s">
                        Special
                        <h3>50% OFF</h3>
                    </div>
                    <h2 class="wow fadeInUp" data-wow-delay="1s">for our student community</h2>
                    <a href="#" class="btn btn--lg btn--rounded btn--blue wow fadeIn" data-wow-delay="1.5s">get the deal</a>
                </div>
                <img class="d-block w-100" src="images/img__sale.webp" alt="First slide">
            </div>
            <div class="carousel-item">
                <div class="container-slide display-on-hover">
                    <div class="promo-text promo-text--center item-display">
                        <h3 class="wow slideInLeft">Benefit of reading</h3>
                        <div class="promo-text-sub wow slideInRight" data-wow-delay=".5s">
                            <h2>Getting smart,thin,healthy and happy</h2>
                        </div>
                        <p class="wow fadeInRight" data-wow-delay="1s">
                            “If you only read the books that everyone else is reading,
                            you can only think what everyone else is thinking.”
                            ― Haruki Murakami, Norwegian Wood
                        </p>
                        <a href="#" class="btn btn--lg btn--rounded btn--blue wow fadeIn" data-wow-delay="1.5s">view collections</a>
                    </div>
                    <video src="images/data/video.mp4" autoplay loop muted preload="auto"></video>
                </div>
            </div>

        </div>
        <a class="carousel-control-prev item-display" href="#carouselExampleControls" role="button" data-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next item-display" href="#carouselExampleControls" role="button" data-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <div class="service-bar">
        <div class="container">
            <div class="owl-carousel owl-theme owl-service">
                <div class="service-item">
                    <div class="service-img">
                        <img src="~/images/data/delivery-icon.webp" alt="">
                    </div>
                    <div class="service-text">
                        <div class="service-title">Quick delivery</div>
                        <div class="service-caption">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</div>
                    </div>
                </div>
                <div class="service-item">
                    <div class="service-img">
                        <img src="images/data/payment-icon.webp" alt="">
                    </div>
                    <div class="service-text">
                        <div class="service-title">Pay with Easy</div>
                        <div class="service-caption">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</div>
                    </div>
                </div>
                <div class="service-item">
                    <div class="service-img">
                        <img src="images/data/deal-icon.webp" alt="">
                    </div>
                    <div class="service-text">
                        <div class="service-title">best deal</div>
                        <div class="service-caption">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</div>
                    </div>
                </div>
                <div class="service-item">
                    <div class="service-img">
                        <img src="images/data/secured-icon.webp" alt="">
                    </div>
                    <div class="service-text">
                        <div class="service-title">secured payment</div>
                        <div class="service-caption">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<!--Modal-->
<div class="modal fade" id="modalQuickview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close__badge" data-dismiss="modal" aria-label="Close">
                <span class="close__icon"></span>
            </button>
            <div class="row">
                <div class="col-5 mar-right-sm d-flex align-items-center">
                    <!--Carousel-slide-->
                    <div class="container-fluid">
                        <!--Carousel Wrapper-->
                        <div class="badge badge__sale">SALE</div>
                        <div id="carousel-example-1z" class="carousel slide carousel-slide pointer-event "
                             data-ride="carousel" data-interval="3000">

                            <!--Slides-->
                            <div class="carousel-inner" role="listbox">
                                <!--First slide-->
                                @*<div class="carousel-item active cursor-zoom" data-image="~/images/data/book11.webp"
                                         data-toggle="zoom">
                                        <div class="card">
                                            <img src="~/images/data/book11.webp" class="card-img-top img-cover"
                                                 alt="...">
                                        </div>
                                    </div>*@
                                <!--/First slide-->
                                <!--Second slide-->
                                @*<div class="carousel-item cursor-zoom" data-image="~/images/data/book12.webp"
                                         data-toggle="zoom">
                                        <div class="card">
                                            <img src="~/images/data/book12.webp"
                                                 class="card-img-top img-cover" alt="...">
                                        </div>
                                    </div>*@
                                <!--/Second slide-->
                                <!--Third slide-->
                                @*<div class="carousel-item cursor-zoom" data-image="~/images/data/book13.webp"
                                         data-toggle="zoom">
                                        <div class="card">
                                            <img src="~/images/data/book13.webp"
                                                 class="card-img-top img-cover" alt="...">
                                        </div>
                                    </div>*@
                                <!--/Third slide-->
                                <!--Fourth slide-->
                                @*<div class="carousel-item cursor-zoom" data-image="~/images/data/book14.webp"
                                         data-toggle="zoom">
                                        <div class="card">
                                            <img src="~/images/data/book14.webp"
                                                 class="card-img-top img-cover" alt="...">
                                        </div>
                                    </div>*@
                                <!--/Fourth slide-->

                            </div>
                            <!--/.Slides-->
                            <!--Indicators-->
                            <ol class="carousel-indicators carousel-indicators-dark">
                                <li data-target="#carousel-example-1z" data-slide-to="0" class="active"
                                    style="background-image: url('~/images/data/book11.webp')">
                                </li>
                                <li data-target="#carousel-example-1z" data-slide-to="1"
                                    style="background-image: url('~/images/data/book12.webp')"></li>
                                <li data-target="#carousel-example-1z" data-slide-to="2"
                                    style="background-image: url('~/images/data/book13.webp')"></li>
                                <li data-target="#carousel-example-1z" data-slide-to="3"
                                    style="background-image: url('~/images/data/book14.webpp')"></li>
                            </ol>
                            <!--/.Indicators-->
                        </div>
                        <!--/.Carousel Wrapper-->
                    </div>
                    <!--/Carousel-slide-->
                </div>
                <div class="col-6 text-left pad-top-bot-md">
                    <a href="#" class="f-3 f-w-100">The Example Product</a>

                    <p class="f-2 product__price f-w-100">$400.00</p>
                    <div class="special-author text-dark">Author: Jessica therrien</div>

                    <div class="mar-top-3">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="quantity buttons_added d-flex flex-row mar-top-2">
                                    <input type="button" value="-" class="minus quantity__button">
                                    <input type="text" step="1" min="1" max="" name="quantity" value="1" title="Qty"
                                           class="input-text qty text h-100" size="4" pattern="" inputmode="">
                                    <input type="button" value="+" class="plus quantity__button">
                                </div>
                            </div>
                            <div class="col-md-5">
                                <a href="#" class="btn btn-fw btn--rounded btn--blue">
                                    Buy
                                    it now
                                </a>
                            </div>
                        </div>


                    </div>

                    <div class="dropdown-divider"></div>
                    <a href="#" class="articles__link f-w-100">View Product →</a>

                </div>
            </div>
        </div>
    </div>
</div>

<section class="section__bestseller">
    <div class="container">
        <div class="title-wrapper">
            <h3>best sellers</h3>
            <a href="/ListBook">View all</a>
        </div>

        <div class="owl-carousel owl-carousel-product owl-theme">
            @foreach (var book in ListSalesBook)
            {
                <div class="card display-on-hover">
                    <a href="/Book/@SecureHelper.GetSecureOutput(book.Id)">
                        <img class="card-img-top img-cover img-cover-30" src="@book.Image" alt="Card image cap">
                        <p></p>
                        <div class="card-body">
                            <h5 class="card__book-title">@book.Name</h5>
                            <p class="card__book-price" style="text-align: center">
                                @book.CurrentPrice.ToString("##,###") VND
                            </p>
                            <a href="@SecureHelper.GetSecureOutput(book.Id)"
                               class="btn btn--rounded btn-fw btn--blue item-display">Add to cart</a>
                        </div>
                        <div class="badge badge__utilities item-display">
                            <a href="#" class="badge__utilities-blue">
                                <i class="fas fa-heart"></i>
                            </a>
                            <a href="#" class="badge__utilities-blue"
                               data-toggle="modal" data-target="#modalQuickview"
                               data-object="@SecureHelper.GetSecureOutput(book.Id)">
                                <i class="fas fa-search"></i>
                            </a>

                        </div>
                    </a>
                </div>
            }
        </div>
    </div>



</section>

<section class="section__publisher">
    <div class="container">
        <div class="title-wrapper">
            <h3>Publishers</h3>
        </div>

        <ul class="nav nav-tabs">
            @for (int i = 0; i < @FamousPublisherList.Count; i++)
            {
                <li class="nav-item nav-item__tab">
                    <a class="nav-link" data-toggle="tab" href="#menu" id="menu_@FamousPublisherList[i].Id">
                        <img src="@FamousPublisherList[i].Image"
                             class="img-cover" alt="">
                    </a>
                </li>
            }
        </ul>


        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active container-fluid" id="menu">
                <div class="row">

                    <div class="col-md-2">
                        <div class="card display-on-hover">
                            <a href="/Book/@SecureHelper.GetSecureOutput(ListSalesBook[0].Id)" class="linkBook">
                                <img class="card-img-top img-contain" src="@ListSalesBook[0].Image" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card__book-title">@ListSalesBook[0].Name</h5>
                                    <p class="card__book-price" style="text-align: center">
                                        @ListSalesBook[0].CurrentPrice.ToString("##,###") VND
                                    </p>
                                    <a href="@SecureHelper.GetSecureOutput(ListSalesBook[0].Id)"
                                       class="btn btn--rounded btn-fw btn--blue item-display">Add to cart</a>
                                </div>
                                <div class="badge badge__utilities item-display">
                                    <a href="#" class="badge__utilities-blue">
                                        <i class="fas fa-heart"></i>
                                    </a>
                                    <a href="/Book/@SecureHelper.GetSecureOutput(ListSalesBook[0].Id)"
                                       class="badge__utilities-blue" data-toggle="modal" data-target="#modalQuickview"
                                       data-object="@SecureHelper.GetSecureOutput(ListSalesBook[0].Id)">
                                        <i class="fas fa-search"></i>
                                    </a>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card display-on-hover">
                            <a href="/Book/@SecureHelper.GetSecureOutput(ListSalesBook[1].Id)" class="linkBook">
                                <img class="card-img-top img-contain" src="@ListSalesBook[1].Image" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card__book-title">@ListSalesBook[1].Name</h5>
                                    <p class="card__book-price" style="text-align: center">
                                        @ListSalesBook[1].CurrentPrice.ToString("##,###") VND
                                    </p>
                                    <a href="@SecureHelper.GetSecureOutput(ListSalesBook[1].Id)"
                                       class="btn btn--rounded btn-fw btn--blue item-display">Add to cart</a>
                                </div>
                                <div class="badge badge__utilities">
                                    <a href="#" class="badge__utilities-blue">
                                        <i class="fas fa-heart"></i>
                                    </a>
                                    <a href="/Book/@SecureHelper.GetSecureOutput(ListSalesBook[1].Id)"
                                       class="badge__utilities-blue" data-toggle="modal" data-target="#modalQuickview"
                                       data-object="@SecureHelper.GetSecureOutput(ListSalesBook[1].Id)">
                                        <i class="fas fa-search"></i>
                                    </a>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card display-on-hover">
                            <a href="/Book/@SecureHelper.GetSecureOutput(ListSalesBook[2].Id)" class="linkBook">
                                <img class="card-img-top img-contain" src="@ListSalesBook[2].Image" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card__book-title">@ListSalesBook[2].Name</h5>
                                    <p class="card__book-price" style="text-align: center">
                                        @ListSalesBook[2].CurrentPrice.ToString("##,###") VND
                                    </p>
                                    <a href="@SecureHelper.GetSecureOutput(ListSalesBook[2].Id)"
                                       class="btn btn--rounded btn-fw btn--blue item-display">Add to cart</a>
                                </div>
                                <div class="badge badge__utilities item-display">
                                    <a href="#" class="badge__utilities-blue">
                                        <i class="fas fa-heart"></i>
                                    </a>
                                    <a href="/Book/@SecureHelper.GetSecureOutput(ListSalesBook[2].Id)"
                                       class="badge__utilities-blue" data-toggle="modal" data-target="#modalQuickview"
                                       data-object="@SecureHelper.GetSecureOutput(ListSalesBook[2].Id)">
                                        <i class="fas fa-search"></i>
                                    </a>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card display-on-hover">
                            <a href="/Book/@SecureHelper.GetSecureOutput(ListSalesBook[3].Id)" class="linkBook">
                                <img class="card-img-top img-contain" src="@ListSalesBook[3].Image" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card__book-title">@ListSalesBook[3].Name</h5>
                                    <p class="card__book-price" style="text-align: center">
                                        @ListSalesBook[3].CurrentPrice.ToString("##,###") VND
                                    </p>
                                    <a href="@SecureHelper.GetSecureOutput(ListSalesBook[3].Id)"
                                       class="btn btn--rounded btn-fw btn--blue item-display">Add to cart</a>
                                </div>
                                <div class="badge badge__utilities item-display">
                                    <a href="#" class="badge__utilities-blue">
                                        <i class="fas fa-heart"></i>
                                    </a>
                                    <a href="/Book/@SecureHelper.GetSecureOutput(ListSalesBook[3].Id)"
                                       class="badge__utilities-blue" data-toggle="modal" data-target="#modalQuickview"
                                       data-object="@SecureHelper.GetSecureOutput(ListSalesBook[3].Id)">
                                        <i class="fas fa-search"></i>
                                    </a>
                                </div>
                            </a>
                        </div>
                    </div>                  

                </div>
            </div>
        </div>
    </div>
    
</section>

<section class="section__feature">
    <div class="owl-carousel owl-theme owl-feature">
        <div class="special-item">
            <div class="special-wrapper" style="background: url('/images/orange-bg.webp')">
                <div class="row">
                    <div class="col-sm-3 special-img">
                        <img src="/images/special-book-2.webp" class="img-contain" alt="">
                    </div>
                    <div class="col">
                        <div class="special-text">
                            <div class="special-title cut-text cut-text-1-line">Children of the god - Uprising</div>
                            <div class="special-price">$120.00</div>
                            <div class="special-author">Author: Jessica therrien</div>
                            <a href="#" class="btn btn--rounded btn-fit btn--white">view detail</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="special-item">
            <div class="special-wrapper" style="background: url('images/pink-bg.webp')">
                <div class="row">
                    <div class="col-sm-3 special-img">
                        <img src="/images/special-book-3.webp" class="img-contain" alt="">
                    </div>
                    <div class="col">
                        <div class="special-text">
                            <div class="special-title cut-text cut-text-1-line">Lean in</div>
                            <div class="special-price">$80.00</div>
                            <div class="special-author">Author: Sheryl sandberg</div>
                            <a href="#" class="btn btn--rounded btn-fit btn--white">view detail</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="special-item">
            <div class="special-wrapper" style="background: url('images/blue-bg.webp')">
                <div class="row">
                    <div class="col-sm-3 special-img">
                        <img src="/images/special-book-1.webp" class="img-contain" alt="">
                    </div>
                    <div class="col">
                        <div class="special-text">
                            <div class="special-title cut-text cut-text-1-line">The trial of apollo</div>
                            <div class="special-price">$90.00</div>
                            <div class="special-author">Author: rick riordan</div>
                            <a href="#" class="btn btn--rounded btn-fit btn--white">view detail</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section__promo">
    <h2>Limited time offer</h2>
    <div class="counting">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="counting-box">
                    <div class="counting__number" id="count-days">
                        90
                    </div>
                    <div class="counting__text">
                        days
                    </div>
                </div>
                <div class="counting-box">
                    <div class="counting__number" id="count-hours">
                        90
                    </div>
                    <div class="counting__text">
                        hours
                    </div>
                </div>
                <div class="counting-box">
                    <div class="counting__number" id="count-minutes">
                        90
                    </div>
                    <div class="counting__text">
                        minutes
                    </div>
                </div>
                <div class="counting-box">
                    <div class="counting__number" id="count-seconds">
                        90
                    </div>
                    <div class="counting__text">
                        seconds
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="card display-on-hover">
                    <div class="badge badge__sale">32% off</div>
                    <a href="#">
                        <img class="card-img-top" src="~/images/data/book10.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card__book-title">Product example #1</h5>
                            <p class="card__book-price">
                                $120.00
                            </p>
                            <div id="rating" class="rating__section mar-0-0 w-100 align-items-center">
                                <div class="star__rating" id="rating" data-value-star="4">
                                    <input type="radio" name="rating" value="5">
                                    <label class="full" title="Awesome - 5 stars"></label>

                                    <input type="radio" name="rating" value="4">
                                    <label class="full" title="Pretty good - 4 stars"></label>

                                    <input type="radio" name="rating" value="3">
                                    <label class="full" title="Meh - 3 stars"></label>

                                    <input type="radio" name="rating" value="2">
                                    <label class="full" title="Kinda bad - 2 stars"></label>

                                    <input type="radio" name="rating" value="1">
                                    <label class="full" title="Sucks big time - 1 star"></label>
                                </div>
                                1 review
                            </div>
                            <a href="#" class="btn btn--rounded btn-fw btn--blue item-display">Add to cart</a>
                        </div>
                        <div class="badge badge__utilities item-display">
                            <a href="#" class="badge__utilities-blue">
                                <i class="fas fa-heart"></i>
                            </a>
                            <a href="#" class="badge__utilities-blue">
                                <i class="fas fa-search"></i>
                            </a>

                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card display-on-hover">
                    <a href="#">
                        <img class="card-img-top" src="~/images/data/book8.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card__book-title">Product example #1</h5>
                            <p class="card__book-price">
                                $120.00
                            </p>
                            <div id="rating" class="rating__section mar-0-0 w-100 align-items-center">
                                <div class="star__rating" id="rating" data-value-star="4">
                                    <input type="radio" name="rating" value="5">
                                    <label class="full" title="Awesome - 5 stars"></label>

                                    <input type="radio" name="rating" value="4">
                                    <label class="full" title="Pretty good - 4 stars"></label>

                                    <input type="radio" name="rating" value="3">
                                    <label class="full" title="Meh - 3 stars"></label>

                                    <input type="radio" name="rating" value="2">
                                    <label class="full" title="Kinda bad - 2 stars"></label>

                                    <input type="radio" name="rating" value="1">
                                    <label class="full" title="Sucks big time - 1 star"></label>
                                </div>
                                1 review
                            </div>
                            <a href="#" class="btn btn--rounded btn-fw btn--blue item-display">Add to cart</a>
                        </div>
                        <div class="badge badge__utilities item-display">
                            <a href="#" class="badge__utilities-blue">
                                <i class="fas fa-heart"></i>
                            </a>
                            <a href="#" class="badge__utilities-blue">
                                <i class="fas fa-search"></i>
                            </a>

                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card display-on-hover">
                    <a href="#">
                        <img class="card-img-top" src="~/images/data/book9.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card__book-title">Product example #1</h5>
                            <p class="card__book-price">
                                $120.00
                            </p>
                            <div id="rating" class="rating__section mar-0-0 w-100 align-items-center">
                                <div class="star__rating" id="rating" data-value-star="4">
                                    <input type="radio" name="rating" value="5">
                                    <label class="full" title="Awesome - 5 stars"></label>

                                    <input type="radio" name="rating" value="4">
                                    <label class="full" title="Pretty good - 4 stars"></label>

                                    <input type="radio" name="rating" value="3">
                                    <label class="full" title="Meh - 3 stars"></label>

                                    <input type="radio" name="rating" value="2">
                                    <label class="full" title="Kinda bad - 2 stars"></label>

                                    <input type="radio" name="rating" value="1">
                                    <label class="full" title="Sucks big time - 1 star"></label>
                                </div>
                                1 review
                            </div>
                            <a href="#" class="btn btn--rounded btn-fw btn--blue item-display">Add to cart</a>
                        </div>
                        <div class="badge badge__utilities item-display">
                            <a href="#" class="badge__utilities-blue">
                                <i class="fas fa-heart"></i>
                            </a>
                            <a href="#" class="badge__utilities-blue">
                                <i class="fas fa-search"></i>
                            </a>

                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card display-on-hover">
                    <div class="badge badge__sale">25% off</div>
                    <a href="#">
                        <img class="card-img-top" src="~/images/data/book7.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card__book-title">Product example #1</h5>
                            <p class="card__book-price">
                                $120.00
                            </p>
                            <div id="rating" class="rating__section mar-0-0 w-100 align-items-center">
                                <div class="star__rating" id="rating" data-value-star="4">
                                    <input type="radio" name="rating" value="5">
                                    <label class="full" title="Awesome - 5 stars"></label>

                                    <input type="radio" name="rating" value="4">
                                    <label class="full" title="Pretty good - 4 stars"></label>

                                    <input type="radio" name="rating" value="3">
                                    <label class="full" title="Meh - 3 stars"></label>

                                    <input type="radio" name="rating" value="2">
                                    <label class="full" title="Kinda bad - 2 stars"></label>

                                    <input type="radio" name="rating" value="1">
                                    <label class="full" title="Sucks big time - 1 star"></label>
                                </div>
                                1 review
                            </div>
                            <a href="#" class="btn btn--rounded btn-fw btn--blue item-display">Add to cart</a>
                        </div>
                        <div class="badge badge__utilities item-display">
                            <a href="#" class="badge__utilities-blue">
                                <i class="fas fa-heart"></i>
                            </a>
                            <a href="#" class="badge__utilities-blue">
                                <i class="fas fa-search"></i>
                            </a>

                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card display-on-hover">
                    <a href="#">
                        <img class="card-img-top" src="~/images/data/book2.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card__book-title">Product example #1</h5>
                            <p class="card__book-price">
                                $120.00
                            </p>
                            <div id="rating" class="rating__section mar-0-0 w-100 align-items-center">
                                <div class="star__rating" id="rating" data-value-star="4">
                                    <input type="radio" name="rating" value="5">
                                    <label class="full" title="Awesome - 5 stars"></label>

                                    <input type="radio" name="rating" value="4">
                                    <label class="full" title="Pretty good - 4 stars"></label>

                                    <input type="radio" name="rating" value="3">
                                    <label class="full" title="Meh - 3 stars"></label>

                                    <input type="radio" name="rating" value="2">
                                    <label class="full" title="Kinda bad - 2 stars"></label>

                                    <input type="radio" name="rating" value="1">
                                    <label class="full" title="Sucks big time - 1 star"></label>
                                </div>
                                1 review
                            </div>
                            <a href="#" class="btn btn--rounded btn-fw btn--blue item-display">Add to cart</a>
                        </div>
                        <div class="badge badge__utilities item-display">
                            <a href="#" class="badge__utilities-blue">
                                <i class="fas fa-heart"></i>
                            </a>
                            <a href="#" class="badge__utilities-blue">
                                <i class="fas fa-search"></i>
                            </a>

                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card display-on-hover">
                    <div class="badge badge__sale">30% off</div>
                    <a href="#">
                        <img class="card-img-top" src="~/images/data/book1.webp" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card__book-title">Product example #1</h5>
                            <p class="card__book-price">
                                $120.00
                            </p>
                            <div id="rating" class="rating__section mar-0-0 w-100 align-items-center">
                                <div class="star__rating" id="rating" data-value-star="4">
                                    <input type="radio" name="rating" value="5">
                                    <label class="full" title="Awesome - 5 stars"></label>

                                    <input type="radio" name="rating" value="4">
                                    <label class="full" title="Pretty good - 4 stars"></label>

                                    <input type="radio" name="rating" value="3">
                                    <label class="full" title="Meh - 3 stars"></label>

                                    <input type="radio" name="rating" value="2">
                                    <label class="full" title="Kinda bad - 2 stars"></label>

                                    <input type="radio" name="rating" value="1">
                                    <label class="full" title="Sucks big time - 1 star"></label>
                                </div>
                                1 review
                            </div>
                            <a href="#" class="btn btn--rounded btn-fw btn--blue item-display">Add to cart</a>
                        </div>
                        <div class="badge badge__utilities item-display">
                            <a href="#" class="badge__utilities-blue">
                                <i class="fas fa-heart"></i>
                            </a>
                            <a href="#" class="badge__utilities-blue">
                                <i class="fas fa-search"></i>
                            </a>

                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>

<footer class="footer">
    <div class="subcribe-form" style="background-image: url(/images/mailing_bg.webp)" ;>
        <div class="blur-layer-text">
            <h2>Subcribe to our new letters</h2>
            <div class="d-flex justify-content-center align-items-center">
                <input type="text" class="input__subcribe" placeholder="Enter your e-mail address">
                <a href="#" class="btn btn--rounded btn-fit btn--blue">Subcribe</a>
            </div>

        </div>
    </div>
    <div class="container mar-top-lg">
        <div class="row">
            <div class="col-md-3">
                <img src="images/footer_logo.webp" alt="">
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem architecto commodi corporis, quae
                    repudiandae nisi dolorum explicabo illum consequuntur magnam hic nemo quisquam optio voluptas
                    ipsam, aperiam veritatis nulla alias?
                </p>
            </div>
            <div class="col-md-3">
                <h4>
                    <span class="icon" style="background-image:url('images/footer_icon_2.webp')"></span>
                    Our main office
                </h4>
                <p>San Francisco, California, US P.O. BOX: 553204 Phone: (+1) 998 3384 Mail: admin@bookshop.com</p>
            </div>
            <div class="col-md-3">
                <h4>
                    <span class="icon" style="background-image:url('images/footer_icon_3.webp')"></span>
                    keep in touch with us
                </h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem architecto commodi corporis, quae
                    repudiandae nisi dolorum explicabo illum consequuntur magnam hic nemo quisquam optio voluptas
                    ipsam, aperiam veritatis nulla alias?
                </p>
            </div>
            <div class="col-md-3">
                <h4>
                    <span class="icon" style="background-image:url('images/footer_icon_3.webp')"></span>
                    information
                </h4>
                <ul class="footer__infor">
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Term & Condition</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">My account</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>

            </div>
        </div>

    </div>
</footer>
