@using BookStore.Models.Objects;
@using System.Net
@using BookStore.Models.Objects;
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Http.Extensions;
@using Microsoft.AspNetCore.WebUtilities
@using BookStore.Helper;
@{
    Layout = "Admin_Layout";
    List<Order> ListProcessing = (List<Order>)ViewBag.ListProcessing;
    List<Order> ListDelivery = (List<Order>)ViewBag.ListDelivery;
    List<Order> ListDelivered = (List<Order>)ViewBag.ListDelivered;
    List<Order> ListCanceled = (List<Order>)ViewBag.ListCanceled;

    List<SubCategory> ListSubcategory = (List<SubCategory>) ViewBag.ListSubcategory;
    List<Form> ListFormBook = (List<Form>) ViewBag.ListFormBook;
    List<Supplier> ListSupplier = (List<Supplier>) ViewBag.ListSupplier;
    List<Publisher> ListPublisher = (List<Publisher>) ViewBag.ListPublisher;
}

<div class="cart-title">
        <h2>admin page</h2>
    </div>
    <section class="section__order-status">
        <div class="container-fluid d-flex flex-row">
            <ul class="nav nav-tabs nav-order d-flex flex-column" id="active-exp">
                <li class="active"><a data-toggle="tab" href="#order">Order management</a></li>
                <li><a data-toggle="tab" href="#book">Book management</a></li>
                <li><a data-toggle="tab" href="#account">Account management</a></li>
                <li><a href="#">Statistics</a></li>
            </ul>

            <div class="tab-content tab-content-order">
                <div id="order" class="tab-pane fade in active show">
                    <div class="container">
                        <ul class="nav nav-tabs nav-order" id="active-exp">
                            <li class="active"><a data-toggle="tab" href="#processing">Processing</a></li>
                            <li><a data-toggle="tab" href="#delivering">Delivering</a></li>
                            <li><a data-toggle="tab" href="#delivered">Delivered</a></li>
                        </ul>

                        <div class="tab-content tab-content-order">
                            <div id="processing" class="tab-pane fade in active show">
                                @foreach (var order in ListProcessing)
                                {
                                <div class="order-block">
                                    <div class="title-wrapper">
                                        <h2>Date: @order.CreatedDate</h2>
                                        <P>Amount: @order.OrderDetail.Count items</P>
                                    </div>
                                    <a href="@SecureHelper.GetSecureOutput(order.Id)" 
                                       class="btn btn--blue btn-fit btn--rounded">Accept order</a>
                                    <div class="cart-table">
                                        <table>
                                            <thead>
                                            <td class="item-user border-0">
                                                <h3>@order.FullName</h3>
                                                <h4>
                                                    Address: @order.Address
                                                </h4>
                                                <h4>
                                                    Mobile: @order.PhoneNumber
                                                </h4>
                                            </td>
                                            <tr>
                                                <th class="item">Items</th>
                                                <th class="qty">Qty</th>
                                                <th class="price">Price</th>
                                                <th class="total-price">Total</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                                
                                                @foreach (var detail in order.OrderDetail)
                                                {
                                                <tr>
                                                    <td class="item-name">
                                                        <div class="item-img">
                                                            <a href="#">
                                                                <img src="@detail.Book.Image"
                                                                     class="img-contain img-cover-10" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="item-title">
                                                            <a href="#">@detail.Book.Name</a>
                                                        </div>
                                                    </td>
                                                    <td class="item-qty">
                                                        <div class="quantity buttons_added d-flex justify-content-center">
                                                            <input type="text" step="1" min="1" max="" name="quantity"
                                                                   value="@detail.Quantity" title="Qty" 
                                                                   class="input-text qty text h-100"
                                                                   size="4" pattern="" inputmode="" disabled>
                                                        </div>
                                                    </td>
                                                    <td class="item-price">
                                                        <p>@detail.Book.CurrentPrice.ToString("##,###") VND</p>
                                                    </td>
                                                    <td class="item-total">
                                                        @{
                                                            var subtotal = detail.Quantity * detail.Book.CurrentPrice;
                                                        }
                                                        <p>@subtotal.ToString("##,###") VND</p>
                                                    </td>
                                                </tr>
                                                }

                                                <tr class="order-total">
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>
                                                        <h2>@order.Total.ToString("##,###") VND</h2>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                }
                            </div>
                            <div id="delivering" class="tab-pane fade">
                                @foreach (var order in ListDelivery)
                                {
                                    <div class="order-block">
                                        <div class="title-wrapper">
                                            <h2>Date: @order.CreatedDate</h2>
                                            <P>Amount: @order.OrderDetail.Count items</P>
                                        </div>
                                        <a href="@SecureHelper.GetSecureOutput(order.Id)" 
                                           class="btn btn--blue btn-fit btn--rounded">Confirm order</a>
                                        <div class="cart-table">
                                            <table>
                                                <thead>
                                                <td class="item-user border-0">
                                                    <h3>@order.FullName</h3>
                                                    <h4>
                                                        Address: @order.Address
                                                    </h4>
                                                    <h4>
                                                        Mobile: @order.PhoneNumber
                                                    </h4>
                                                </td>
                                                <tr>
                                                    <th class="item">Items</th>
                                                    <th class="qty">Qty</th>
                                                    <th class="price">Price</th>
                                                    <th class="total-price">Total</th>
                                                </tr>
                                                </thead>

                                                <tbody>

                                                    @foreach (var detail in order.OrderDetail)
                                                    {
                                                        <tr>
                                                            <td class="item-name">
                                                                <div class="item-img">
                                                                    <a href="#">
                                                                        <img src="@detail.Book.Image"
                                                                             class="img-contain img-cover-10" alt="">
                                                                    </a>
                                                                </div>
                                                                <div class="item-title">
                                                                    <a href="#">@detail.Book.Name</a>
                                                                </div>
                                                            </td>
                                                            <td class="item-qty">
                                                                <div class="quantity buttons_added d-flex justify-content-center">
                                                                    <input type="text" step="1" min="1" max="" name="quantity"
                                                                           value="@detail.Quantity" title="Qty"
                                                                           class="input-text qty text h-100"
                                                                           size="4" pattern="" inputmode="" disabled>
                                                                </div>
                                                            </td>
                                                            <td class="item-price">
                                                                <p>@detail.Book.CurrentPrice.ToString("##,###") VND</p>
                                                            </td>
                                                            <td class="item-total">
                                                                @{
                                                                    var subtotal = detail.Quantity * detail.Book.CurrentPrice;
                                                                }
                                                                <p>@subtotal.ToString("##,###") VND</p>
                                                            </td>
                                                        </tr>
                                                    }

                                                    <tr class="order-total">
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>
                                                            <h2>@order.Total.ToString("##,###") VND</h2>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div id="delivered" class="tab-pane fade">
                                @foreach (var order in ListDelivered)
                                {
                                    <div class="order-block">
                                        <div class="title-wrapper">
                                            <h2>Date: @order.CreatedDate</h2>
                                            <P>Amount: @order.OrderDetail.Count items</P>
                                        </div>
                                        <div class="cart-table">
                                            <table>
                                                <thead>
                                                <td class="item-user border-0">
                                                    <h3>@order.FullName</h3>
                                                    <h4>
                                                        Address: @order.Address
                                                    </h4>
                                                    <h4>
                                                        Mobile: @order.PhoneNumber
                                                    </h4>
                                                </td>
                                                <tr>
                                                    <th class="item">Items</th>
                                                    <th class="qty">Qty</th>
                                                    <th class="price">Price</th>
                                                    <th class="total-price">Total</th>
                                                </tr>
                                                </thead>

                                                <tbody>

                                                    @foreach (var detail in order.OrderDetail)
                                                    {
                                                        <tr>
                                                            <td class="item-name">
                                                                <div class="item-img">
                                                                    <a href="#">
                                                                        <img src="@detail.Book.Image"
                                                                             class="img-contain img-cover-10" alt="">
                                                                    </a>
                                                                </div>
                                                                <div class="item-title">
                                                                    <a href="#">@detail.Book.Name</a>
                                                                </div>
                                                            </td>
                                                            <td class="item-qty">
                                                                <div class="quantity buttons_added d-flex justify-content-center">
                                                                    <input type="text" step="1" min="1" max="" name="quantity"
                                                                           value="@detail.Quantity" title="Qty"
                                                                           class="input-text qty text h-100"
                                                                           size="4" pattern="" inputmode="" disabled>
                                                                </div>
                                                            </td>
                                                            <td class="item-price">
                                                                <p>@detail.Book.CurrentPrice.ToString("##,###") VND</p>
                                                            </td>
                                                            <td class="item-total">
                                                                @{
                                                                    var subtotal = detail.Quantity * detail.Book.CurrentPrice;
                                                                }
                                                                <p>@subtotal.ToString("##,###") VND</p>
                                                            </td>
                                                        </tr>
                                                    }

                                                    <tr class="order-total">
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>
                                                            <h2>@order.Total.ToString("##,###") VND</h2>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div id="book" class="tab-pane fade">
                    <div class="container search-form">
                        <div class="d-flex">
                            <div class="search-bar">
                                <i class="fas fa-search"></i>
                                <input type="text" id="search" placeholder="ID or Name of the book">
                            </div>
                            <button class="btn btn--blue btn--lg btn-fit" id="button">Add Book</button>
                        </div>

                        <div class="container mar-top-md" id="search-result">
                            <div class="row">
                            </div>

                        </div>
                    </div>
                    <form class="container edit-form" id="show">
                        <div class="row section__profile">
                            <div class="col-md-6">
                                <div class="profile-wrapper">
                                    <label for="id">Product's ID</label>
                                    <input type="text" id="id" placeholder="Enter Book's ID">

                                    <label for="book">Book's name</label>
                                    <input type="text" id="name" placeholder="Enter Book's name">

                                    <label for="o-price">Original price</label>
                                    <input type="number" id="o-price" placeholder="Enter price" min="1000" value="1000">

                                    <label for="c-price">Original price</label>
                                    <input type="number" id="c-price" placeholder="Enter price" min="1000" value="1000">

                                    <label for="releaseyear">Released year</label>
                                    <input type="number" id="releaseyear" max="2020" min="1990" value="2000">

                                    <label for="weight">Weight</label>
                                    <input type="number" id="weight" placeholder="Enter Book's weight" min="1" value="1.0">
                                    <div class="container pad-0-0">
                                        <label for="authors">Authors</label>
                                        <div class="d-flex flex-row">
                                            <input type="text" placeholder="Author" id="txtAuthor">
                                            <button class="btn btn--blue btn-fit btn-fw" id="btnAuthors">Add authors</button>
                                        </div>
                                        <textarea name="" id="authors" rows="4" class="w-100" placeholder="Authors"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="profile-wrapper">
                                    <label for="">Number of book's pages</label>
                                    <input type="number" id="numofpage" placeholder="Enter book's page" min="1" value="1">

                                    <label for="thumb">Thumbnail</label>
                                    <input type="text" id="thumb" placeholder="Link thumbnail">

                                    <label for="category">Category</label>
                                    <select name="" id="category" class="slt-1">
                                        @foreach (var subCate in ListSubcategory)
                                        {
                                            <option value="@subCate.Id">@subCate.Name</option>
                                        }
                                    </select>

                                    <label for="cover">Book's Form</label>
                                    <select name="" id="form" class="slt-1">
                                        @foreach (var form in ListFormBook)
                                        {
                                            <option value="@form.Id">@form.Name</option>
                                        }
                                    </select>

                                    <label for="publisher">Publisher</label>
                                    <select name="" id="publisher" class="slt-1">
                                        @foreach (var publisher in ListPublisher)
                                        {
                                            <option value="@publisher.Id">@publisher.Name</option>
                                        }
                                    </select>

                                    <label for="supplier">Supplier</label>
                                    <select name="" id="supplier" class="slt-1">
                                        @foreach (var supplier in ListSupplier)
                                        {
                                            <option value="@supplier.Id">@supplier.Name</option>
                                        }
                                    </select>

                                    <div class="container pad-0-0">
                                        <label for="images">Image links</label>
                                        <div class="d-flex flex-row">
                                            <input type="text" placeholder="Image links" id="txtImage">
                                            <button class="btn btn--blue btn-fit btn-fw" id="btnImages">Add image links</button>
                                        </div>
                                        <textarea name="" id="images" rows="4" class="w-100" placeholder="Authors"></textarea>
                                    </div>

                                    <label for="description">Description</label>
                                    <textarea class="w-100" name="" id="description" cols="30" rows="4"
                                              placeholder="Enter descriptions"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <input type="submit" class="btn btn--blue btn-fit btn--lg" value="Update / Create" />
                        </div>

                    </form>
                    @*<button id="btnTest">Insert AuthorBook</button>*@
                </div>
                <div id="account" class="tab-pane fade">
                </div>              
            </div>
        </div>
    </section>