@using BookStore.Models.Objects;
@using System.Net
@using System.Text
@using BookStore.Models.Objects;
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Http.Extensions;
@using Microsoft.AspNetCore.WebUtilities
@using BookStore.Helper;
@using BookStore.Models.Statistics
@{
    Layout = "Statistics_Layout";
    List<BookWithQuantity> ListBookWithQuantity = (List<BookWithQuantity>) ViewBag.ListBookWithQuantity;
    List<TopUser> ListTop3User = (List<TopUser>) ViewBag.ListTop3User;
}

<div class="cart-title">
    <h2>Statistics</h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <canvas id="topSale"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @*<canvas id="saleMonthly"></canvas>*@
            <canvas id="top3User"></canvas>
        </div>
    </div>
</div>


<script src="js/wow.min.js"></script>
<script>
    new WOW().init();
</script>
<script src="js/jquery-3.3.1.slim.min.js"></script>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="/js/popper.js"></script>
<script src="/mdbootstrap/js/mdb.min.js"></script>
<script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script>
<script src="/js/all.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.zoom.min.js"></script>
<script src="//plugin/chart.js/dist/Chart.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/sweetalert2.js"></script>
<script src="/js/sweetalert.js"></script>

<script charset="UTF-8">
    var topSale = document.getElementById('topSale').getContext('2d');

    var massPopChart = new Chart(topSale, {
        //type: 'bar',
        type: 'horizontalBar',
        data: {
            //labels: ['Book 1', 'Book 2', 'Book 3', 'Book 4', 'Book 5', 'Book 6', 'Book 7', 'Book 8', 'Book 9', 'Book 10'],
            labels: [
                "@Html.Raw(ListBookWithQuantity[0].book.Name)",
                "@Html.Raw(ListBookWithQuantity[1].book.Name)",
                "@Html.Raw(ListBookWithQuantity[2].book.Name)",
                "@Html.Raw(ListBookWithQuantity[3].book.Name)",
                "@Html.Raw(ListBookWithQuantity[4].book.Name)",
                "@Html.Raw(ListBookWithQuantity[5].book.Name)",
                "@Html.Raw(ListBookWithQuantity[6].book.Name)",
                "@Html.Raw(ListBookWithQuantity[7].book.Name)",
                "@Html.Raw(ListBookWithQuantity[8].book.Name)",
                "@Html.Raw(ListBookWithQuantity[9].book.Name)"
            ],
            datasets: [{
                label: 'Numbers of book are sold',
                data: [
                    @ListBookWithQuantity[0].quantity,
                    @ListBookWithQuantity[1].quantity,
                    @ListBookWithQuantity[2].quantity,
                    @ListBookWithQuantity[3].quantity,
                    @ListBookWithQuantity[4].quantity,
                    @ListBookWithQuantity[5].quantity,
                    @ListBookWithQuantity[6].quantity,
                    @ListBookWithQuantity[7].quantity,
                    @ListBookWithQuantity[8].quantity,
                    @ListBookWithQuantity[9].quantity
                ],
                //data: [
                //    200,
                //    300,
                //    600,
                //    100,
                //    500,
                //    1000,
                //    600,
                //    120,
                //    280,
                //    400
                //],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'


                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]

        },
        options: {
            title: {
                display: true,
                text: 'Top sale of this month',
                fontSize: 25,
            },
            legend: {
                display: false,
                position: 'right',
                labels: {
                    fontColor: '#000'
                }
            },
            layout: {
                padding: {
                    left: 50,
                    right: 0,
                    top: 0,
                    bottom: 0
                }
            },
            tooltips: {
                enabled: true
            },

            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }

        },

    });

</script>

<script charset="UTF-8">
    var top3User = document.getElementById('top3User').getContext('2d');
    var massPopChart2 = new Chart(top3User, {
        type: 'bar',
        data: {
            labels: [
                "@Html.Raw(ListTop3User[0].user.FullName)",
                "@Html.Raw(ListTop3User[1].user.FullName)",
                "@Html.Raw(ListTop3User[2].user.FullName)"
            ],
            datasets: [{
                label: 'Numbers of book are bought',
                data: [
                    @Html.Raw(ListTop3User[0].numberOfBook),
                    @Html.Raw(ListTop3User[1].numberOfBook),
                    @Html.Raw(ListTop3User[2].numberOfBook)
                ],
                backgroundColor: [
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(75, 192, 192, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            title: {
                display: true,
                text: 'Top 3 users',
                fontSize: 25,
            },
            legend: {
                display: false,
                position: 'right',
                labels: {
                    fontColor: '#000'
                }
            },
            layout: {
                padding: {
                    left: 50,
                    right: 0,
                    top: 0,
                    bottom: 0
                }
            },
            tooltips: {
                enabled: true
            },

            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }

        },

    });
</script>